<div class="jumbotron">
  <h1>All Projects</h1>
</div>
<div class="content">
  <%if @projects.any?%>
  <ul>
    <%@projects.each do |project|%>
    <li><%= link_to project.name, project_path(project)%></li>
    <%end%>
  </ul>
  <%else%>
  <p>No projects to display.</p>
  <%end%>
  <div class="most">
    <p><%= link_to "Top projects by number of employees", projects_path(:most => true)%></p>
  </div>
  <p><%= link_to "Create new project", new_project_path %></p>
</div>
